 /* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

body {
    font-family: '';
}
.draggable{
    cursor: move;
}
.board{

    height: inherit;
    border: solid teal 1px;
    /* height: 100% !important;  */

}

.currentDroppable{
    background-color: #bc4450;
}
.card {
    min-width: 20vw;
    padding: 0px;

}
/* .row-board{
    min-height: 100%;
} */
/* #row-board{
    height: 1px;
    min-height: 100vh;
} */